<div class="border-b border-black relative">
    <%= cl_image_tag spot.photos.first.key, height: 250, width: 350, crop: :fill%>
  <div class="absolute left-2 top-2 category-card"><%= spot.category %></div>
</div>

<div class="m-2">
  <h2 class="hover:underline focus:ring-white"> <%= link_to spot.name, spot_path(spot) %></h2>
  <p><%= spot.location %></p>
</div>
