<div class="border-b border-black">
  <div class="px-4 py-3 flex items-center">
    <%= image_tag "logo", alt: "logo Elisztomania", class:"w-32 -mr-24" %>
    <h1 class="text-md text-upcase text-center flex-grow">Mes meilleurs spots de Lyon</h1>
  </div>
</div>
