<div class="border-b border-black">
  <div class="px-1 py-3 md:px-4 flex items-center">
    <%= image_tag "logo.png", alt: "logo Elisztomania", class:"w-20 mr-4 md:w-32 md:-mr-24" %>
    <h1 class="text-xs mr-6 md:text-md text-upcase text-center md:flex-grow">Mes meilleurs spots de Lyon</h1>

    <div class="mr-3"><a href="https://www.instagram.com/elisztomania/" target="_blank" class="fab fa-instagram social"></a></div>
    <a href="https://github.com/Elisztomania" target="_blank" class="fab fa-github social"></a>
  </div>

  <div>

  </div>
</div>
