@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "mapbox-gl/dist/mapbox-gl";

@import "components/info_windox";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,500;0,700;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-style: italic;
}

h2 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  font-style: bold;
}

@layer components {
  .btn-category {
    @apply px-2 py-1 text-xs border border-black mr-1;
  }

  .category-card {
    @apply border border-black bg-white p-0.5 text-xxs font-bold w-10 text-center;
  }
}

.alert {
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 1000;
  background-color: #F7F4EA;
  padding: 4px;
  font-size: 10px;
  border-radius: 2px;
}
